* {
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 940px;
}

/* header */
.header {
  background: url(../img/header/headerbg.jpg) center no-repeat;
  height: 100vh;
  background-size: cover;
}

.header-top {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-top: 19px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-top__tel {
  text-align: right;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  line-height: 24px;
}
.header-top__tel span {
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-main__title {
  padding-top: 120px;
  padding-bottom: 52px;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
}
.header-main__subtitle {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.header-main__subtitle_mini {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 40px;
}

.header-main__btn {
  width: 300px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background: inherit;
  border: 1px solid #fff;
  outline: none;
  padding: 18px 70px;
  cursor: pointer;
}
.header-main__btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
.header-main__icons {
  margin-top: 80px;
  cursor: pointer;
}

.header-main__middle {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 642px) {
  .header-main {
    text-align: center;
  }
  .header-main__subtitle_mini {
    padding-bottom: 20px;
  }
  .header-main__title {
    padding-bottom: 20px;
  }
  .header-main__icons {
    margin-top: 20px;
  }
}
/* header end */
/* ================ */
.section-about {
  background-color: #f8f2e4;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-about__wrapper {
  display: flex;
  justify-content: space-between;
}
.section-about__colleft {
  padding-top: 48px;
  flex-basis: 390px;
  padding-bottom: 50px;
}
.section-about__colright {
  padding-top: 70px;
  flex-basis: 390px;
  margin-left: 80px;
}
.section-about__colright__title {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 50px;
}
.section-about__colright__title span {
  font-size: 48px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}
.section-about__colright__desc {
  font-size: 16px;
  color: #000000;
  padding-bottom: 42px;
  font-weight: 300;
  letter-spacing: 0px;
}
.section-about__icon {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.section-about__icon img {
  padding-right: 18px;
}

@media (max-width: 630px) {
  .section-about__wrapper {
    display: flex;
    flex-direction: column;
  }
  .section-about__colleft {
    text-align: center;
    width: 100%;
  }
  .section-about__colright {
    text-align: center;
    margin-left: 20px;
  }
}
@media (max-width: 410px) {
  .section-about__colleft {
    display: none;
  }
}

/* section about end */
/* ========== */
/* section reason */

.titleall {
  font-size: 36px;
  font-weight: 500;
  color: #000000;
  padding-top: 80px;
  text-align: center;
}
.lineall {
  text-align: center;
  padding-bottom: 70px;
}
.reasons__wrapper {
  display: flex;
  justify-content: center;
}
.reasons__reason {
  text-align: center;
  flex-basis: 280px;
}
.reasons__desc {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  padding-top: 10px;
}

.reasons__wrapper_row2 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 70px;
}
.reasons__reason_row2 {
  text-align: center;
  flex-basis: 280px;
}

@media (max-width: 630px) {
  .reasons__wrapper,
  .reasons__wrapper_row2 {
    display: flex;
    flex-direction: column;
  }
}
/* section about end*/
/* ============= */
/* section expect starts*/

.section_expect {
  background-color: #f8f2e4;
  padding-bottom: 10px;
  background-color: #f8f2e4;
}

.expect__text {
  background: url(../img/exp/expectationimg.jpg) no-repeat center;
  height: 530px;
  width: 940px;
  margin-left: 50px;
  text-align: center;
}
.expect__text__title {
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 210px;
}
.expect__text__sub {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  width: 480px;
}
/* ============= */
/* section chedule */
.section-schedule__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-schedule__bl {
  flex-basis: 20%;
  margin-right: 10px;
  margin-bottom: 20px;
  height: 180px;
  background-color: #ffe6e6;
  text-align: center;
}
.section-schedule__bl__date {
  font-size: 14px;
  font-weight: 300;
  color: #4b4b4b;
  padding-top: 30px;
  padding-bottom: 10px;
}
.section-schedule__bl__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}
.section-schedule__bl__link {
  font-size: 12px;
  font-weight: 400;
  color: #5a56af;
}
.section-schedule__bl__btn {
  width: 180px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  height: 40px;
  background-color: #e28234;
  border: 2px solid #e28234;
  margin-bottom: 22px;
  margin-top: 20px;
}
@media (max-width: 470px) {
  .section-schedule__wrapper {
    justify-content: center;
  }
}

/* =============== */
/* section ayurveda */

.section-ayurveda__description,
.section-ayurveda__description-sec {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.section-ayurveda__description-sec {
  margin-top: 20px;
  display: block;
}

.section-ayurveda-title {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.section-ayurveda__row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.section-ayurveda__row__desc {
  font-size: 18px;
  color: #000000;
  font-weight: 300;
  max-width: 482px;
  margin-left: 30px;
}

.ayurveda-centre {
  display: flex;
}
.ayurveda-centre__left {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 460px;
}
.ayurveda-centre__left__img:not(.notpad) {
  padding-left: 20px;
}
.ayurveda-centre__right {
  flex-basis: 460px;
  padding-left: 40px;
}
.ayurveda-centre__right__title {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
  margin-top: 10px;
}
.ayurveda-centre__right__subtitle {
  font-size: 14px;
  font-weight: 300;
  color: #4b4b4b;
  margin-top: 7px;
  margin-bottom: 33px;
}
.ayurveda-centre__right__description {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}

@media (max-width: 910px) {
  .ayurveda-centre__left__img:not(.notpad) {
    padding-left: 0;
  }
}
@media (max-width: 400px) {
  .ayurveda-centre__left__img {
    display: none;
  }
}

/* ============== */
/* .section-teachers */

.section-teachers {
  background-color: #f8f2e4;
}

.section-teachers__first {
  background: url(../img/teachers/teachersimg01.jpg) no-repeat center;
  height: 540px;
}
.section-teachers__first__name {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  color: #ffffff;
}
.section-teachers__first__prof {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
}
.section-teachers__first__box__leftside {
  margin-left: 20px;
}
.section-teachers__first__box__rightside:before {
  content: "";
  width: 2px;
  height: 78px;
  background-color: #ffffff;
  position: absolute;
  left: 40%;
  display: inline-block;
}

.section-teachers__first {
  position: relative;
}
.section-teachers__first__box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 170px;
  display: flex;
  background-color: rgb(68, 68, 68, 0.5);
  justify-content: space-between;
}
.section-teachers__first__box__rightside {
  width: 453px;
  margin-top: 30px;
  color: #fff;
}
.section-teachers__first__name {
  margin-top: 30px;
}
.section-teachers__first.second {
  margin-top: 20px;
  background: url(../img/teachers/teachersimg02.jpg) no-repeat center;
  height: 540px;
}
@media (max-width: 410px) {
  .section-teachers__first__name {
    font-size: 15px;
  }
  .section-teachers__first__prof {
    font-size: 10px;
  }
  .section-teachers__first__box__rightside {
    font-size: 10px;
    margin-left: 10px;
  }
  .section-teachers__first__box__rightside:before {
    display: none;
  }
  .section-teachers__first {
    margin-left: 40px;
    width: 100%;
  }
}

/* section contacts */
.section-contacts {
  padding-top: 40px;
  background-color: #fcf9f1;
}
.contacts {
  display: flex;
}
.contacts-social {
  margin-right: 200px;
  text-align: left;
}
.contacts-social img {
  margin-right: 10px;
  cursor: pointer;
}
.contacts-social__title {
  font-size: 22px;
  font-weight: 500;
  color: #000000;
}
.contacts-social_h4 {
  margin-bottom: 18px;
  margin-top: 18px;
}
.text {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.contacts-tel {
  align-self: flex-end;
}

.contacts-tel__txt {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  color: #000000;
  margin-top: 10px;
}
.contacts-tel__num {
  font-size: 28px;
  font-weight: 700;
  color: #000000;
}

.office {
  margin-top: 20px;
  display: flex;
}

.office__text {
  font-size: 11px;
  font-weight: 400;
  color: #000000;
  margin-top: 3px;
}

.map02 {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 640px) {
  .office {
    display: block;
  }
  .contacts {
    display: block;
  }
}
